.thumbnails {
  position: relative;
  display: none;
}
.thumbnails::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1200px) {
  .thumbnails {
    display: block;
    height: 200vh;
    margin: 0 auto;
    padding: 0 2.5%;
    overflow: scroll;
  }
}
